<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layui-side-scroll" style="background-color: teal"  >
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test" style="background-color: teal " >
        <li class="layui-nav-item" ><a href="http://127.0.0.1:8085/home">主页</a></li>
        <li class="layui-nav-item"><a href="http://127.0.0.1:8085/nodemanager">终端管理</a></li>
        <li class="layui-nav-item"><a href="http://127.0.0.1:8085/taskrelease">任务发布</a></li>
        <li class="layui-nav-item"><a href="http://127.0.0.1:8085/systemmonitor">任务监控</a></li>
        <li class="layui-nav-item"><a href="http://127.0.0.1:8085/gradienttest">区块链服务</a></li>
    </ul>
</div>
</body>
</html>