argcomplete==1.12.3
asyncio==3.4.3
attrdict==2.0.1
attrs==21.2.0
base58==2.1.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
configobj==5.0.6
cryptography==35.0.0
cytoolz==0.11.0
ecdsa==0.17.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
hypothesis==6.24.0
idna==3.3
importlib-metadata==4.8.1
ipfshttpclient==0.7.0
itsdangerous==2.0.1
Jinja2==3.0.2
lru-dict==1.1.7
MarkupSafe==2.0.1
multiaddr==0.0.9
netaddr==0.8.0
parsimonious==0.8.1

promise==2.3
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.11.0
pymitter==0.3.1
pyOpenSSL==21.0.0
requests==2.26.0
rsa==4.7.2
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.26
toolz==0.11.1
typing-extensions==3.10.0.2
urllib3==1.26.7
varint==1.0.2
Werkzeug==2.0.2
zipp==3.6.0
