{% extends "layout.html" %}

{%block left%}
{% if not is_login %}
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">实体模块</a>
    <dl class="layui-nav-child">
        <dd><a href="/enterprise">生产企业模块</a></dd>
        <dd><a href="/agency">安评机构模块</a></dd>
        <dd><a href="/audit">监管部门模块</a></dd>
    </dl>
</li>
{%else%}
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">监管部门</a>
    <dl class="layui-nav-child">
        <dd><a href="/audit">基本信息</a></dd>
        <dd><a href="/audit/revoke">安全生产许可证撤销</a></dd>
        <dd><a href="/audit/log">实体业务查询</a></dd>
        <dd><a href="/audit/search">门限加密秘钥查询</a></dd>
        <dd class=layui-this><a href="/audit/accusation">查看举报信息{%if audit.reports | length >= 1%}<span class="layui-badge">{{audit.reports | length}}</span>{%endif%}</a></dd>
        <dd><a href="/audit/arbitrate">发起仲裁合约</a></dd>
        <dd><a href="/audit/check">执行仲裁判决</a></dd>
    </dl>
</li>
{%endif%}
{%endblock%}

{%block main%}

<div class=layui-row>
    <div class="layui-card">
        <div class="layui-card-header">查看举报信息</div>
        <div class="layui-card-body">

            {%if result%}
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>举报人</th>
                        <th>举报信息</th>
                        <th>附件</th>
                    </tr>
                </thead>
                <tbody>
                    {%for r in result%}
                    <tr>
                        <td>{{r[0]}}</td>
                        <td>{{r[1]}}</td>
                        <td></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%else%}
            <p>暂无举报消息</p>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%}