{% extends "layout.html" %}

{%block left%}
{%if is_login%}
<li class="layui-nav-item"><a onclick="javascript:history.go(-1)">返回</a></li>
{%else%}
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">实体模块</a>
    <dl class="layui-nav-child">
        <dd><a href="/enterprise">生产企业模块</a></dd>
        <dd><a href="/agency">安评机构模块</a></dd>
        <dd><a href="/audit">监管部门模块</a></dd>
    </dl>
</li>
{%endif%}
{%endblock%}

{%block main%}
<div class=layui-row>
    <div class="layui-card">
        <div class="layui-card-header">Wops, 发生了错误</div>
        <div class="layui-card-body" style="text-align: center;">
            <h1 style="margin-top: 200px;">{{error_code}}</h1>

            <h3 style="margin-top: 30px; margin-bottom: 200px">{{error_msg}}</h3>
        </div>
    </div>
</div>
{%endblock%}