{% extends "layout.html" %}

{%block left%}
{%if is_login%}
<li class="layui-nav-item"><a onclick="javascript:history.go(-1)">返回</a></li>
{%else%}
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">实体模块</a>
    <dl class="layui-nav-child">
        <dd><a href="/enterprise">生产企业模块</a></dd>
        <dd><a href="/agency">安评机构模块</a></dd>
        <dd><a href="/audit">监管部门模块</a></dd>
    </dl>
</li>
{%endif%}
{%endblock%}

{%block main%}
<div class=layui-row>
    <div class="layui-card">
        <div class="layui-card-header">举报</div>
        <div class="layui-card-body" style="width: 400px;">
            <form class="layui-form" action="/report" method="POST">
                <div class="layui-form-item">
                    <label class=layui-form-label for="name">监管部门</label>
                    <div class=layui-input-block>
                        <input type="text" name=name class="layui-input" id="name">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class=layui-form-label for="msg">举报消息</label>
                    <div class=layui-input-block>
                        <input type="text" name=msg class="layui-input" id="msg">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class=layui-input-block>
                        <button type="submit" class="layui-btn">举报</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}