<html lang="zh-CN">
    <head>
        <title>安产链</title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha256-T/zFmO5s/0aSwc6ics2KLxlfbewyRz6UNw1s3Ppf5gE=" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8 mx-auto justify-content-center container">
                    <h1 class="row">安评机构</h1>
                    {% if succ_msg %}
                    <div class="alert alert-success row" role="alert">
                        {{succ_msg}}
                    </div>
                    {% endif %}
                    {%if fail_msg %}
                    <div class="alert alert-warning row" role="alert">
                        {{fail_msg}}
                    </div>
                    {%endif%}
                    
                    {% if not is_login %}
                    <div class=row>
                        <form class="form-inline"  method="POST">
                            <div class="form-group">
                              <label for="name">用户名</label>
                              <input type="text" name=name class="form-control ml-2" id="name">
                            </div>
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input type="password" name=password class="form-control ml-2" id="password">
                            </div>
                            <button type="submit" class="btn btn-danger ml-2">登录（注册）</button>
                          </form>
                    </div>
                    <div class=row>
                        <a href="/" class="btn btn-secondary mb-2">返回主页</a>
                    </div>
                    {%else%}
                    <p>安评机构名称： {{username}} <a href="/logout">退出登录</a></p>
                    <p>账户地址：{{agency.account_addr}}</p>
                    <p>安评机构合约地址：{{agency.contract_addr}}</p>
                    <p>安评师列表合约地址：{{agency.EngineerListAddr}}</p>

                    <h3>安评师列表：</h3>
                    <ul class="list-group">
                        {%for e in agency.engineers %}
                        <li class="list-group-item">{{e.index}}：姓名：{{e.username}}-编号：{{e.eid}} <a href="/agency/get_engineer/{{e.index}}">查询</a> <a class=pull-right href="/agency/del_engineer/{{e.index}}">删除</a></li>
                        {%endfor%}
                    </ul>

                    <hr />
                    <h3>添加安评师</h3>
                    <div class=row>
                        <form class="form" action="/agency/add_engineer" method="POST">
                            <div class="form-group">
                              <label for="name">名称</label>
                              <input type="text" name=name class="form-control ml-2" id="name">
                            </div>
                            <div class="form-group">
                                <label for="id">编号</label>
                                <input type="text" name=id class="form-control ml-2" id="id">
                            </div>
                            <div class="form-group">
                                <label for="field">类型</label>
                                <input type="text" name=field class="form-control ml-2" id="field">
                            </div>
                            <button type="submit" class="btn btn-danger mt-2">添加安评师</button>
                          </form>
                    </div>

                    <hr />
                    <h3>上传安全评估报告</h3>
                    <div class=row>
                        <form class="form" action="/agency/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label for="ent-name">企业名称</label>
                                <input type="text" name=ent-name class="form-control ml-2" id="ent-name">
                            </div>

                            <div class="form-group mb-3">
                                <label for="eng-list">安评师序号（空格隔开）</label>
                                <input type="text" name=eng-list class="form-control ml-2" id="eng-list">
                            </div>

                            <div class="form-group">
                                <label for="data-file">安全评估报告</label>
                                <input type="file" name=data-file class="form-control-file" id="data-file">
                            </div>

                            <div class="form-group">
                                <label for="report-file">脱敏-安全评估报告</label>
                                <input type="file" name=report-file class="form-control-file" id="report-file">
                            </div>

                            <button type="submit" class="btn btn-success mt-2">上传证书</button>
                        </form>
                    </div>

                    <hr />
                    <h3>审查证书</h3>
                    <div class=row>
                        <form class="form" action="/agency/evaluation" method="POST">
                            <div class="form-group mb-3">
                                <label for="eva-addr">审查合约地址</label>
                                <input type="text" name=eva-addr class="form-control ml-2" id="eva-addr">
                            </div>
                            <button type="submit" class="btn btn-success mt-2">审查通过</button>
                        </form>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha256-7dA7lq5P94hkBsWdff7qobYkp9ope/L5LQy2t/ljPLo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input@1.3.4/dist/bs-custom-file-input.min.js" integrity="sha256-e0DUqNhsFAzOlhrWXnMOQwRoqrCRlofpWgyhnrIIaPo=" crossorigin="anonymous"></script>
    </body>
</html>