<html lang="zh-CN">
    <head>
        <title>安产链</title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha256-T/zFmO5s/0aSwc6ics2KLxlfbewyRz6UNw1s3Ppf5gE=" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8 mx-auto justify-content-center container">
                    <h1 class="row">监管部门</h1>
                    {% if succ_msg %}
                    <div class="alert alert-success row" role="alert">
                        {{succ_msg}}
                    </div>
                    {% endif %}
                    {%if fail_msg %}
                    <div class="alert alert-warning row" role="alert">
                        {{fail_msg}}
                    </div>
                    {%endif%}
                    
                    {% if not is_login %}
                    <div class=row>
                        <form class="form-inline"  method="POST">
                            <div class="form-group">
                              <label for="name">用户名</label>
                              <input type="text" name=name class="form-control ml-2" id="name">
                            </div>
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input type="password" name=password class="form-control ml-2" id="password">
                            </div>
                            <button type="submit" class="btn btn-danger ml-2">登录（注册）</button>
                          </form>
                    </div>
                    <div class=row>
                        <a href="/" class="btn btn-secondary mb-2">返回主页</a>
                    </div>
                    {%else%}
                    <p>监管部门名称： {{username}} <a href="/logout">退出登录</a> <a href="/audit/accusation">查看举报信息</a></p>

                    <!-- <hr />
                    <h3>举报信息收件箱</h3>
                    <ul class="list-group">
                        {%for v in audit.reports%}
                        <li class="list-group-item">{{v}}</li>
                        {%endfor%}
                    </ul> -->

                    <hr />
                    <h3>门限加密秘钥查询</h3>
                    <div class=row>
                        <form class="form-inline"  method="POST" action="/audit/search">
                            <div class="form-group">
                              <label for="keyword">关键词</label>
                              <input type="text" name=keyword class="form-control ml-2" id="keyword">
                            </div>
                            <button type="submit" class="btn btn-info ml-2">查询</button>
                        </form>
                    </div>

                    {%if result%}
                    <ul class="list-group">
                        {%for v in result%}
                        <li class="list-group-item">{{v.name}}：HASH:{{v.hash}} Secret: ({{v.idx}},{{v.secret}})</li>
                        {%endfor%}
                    </ul>
                    {%endif%}

                    <hr />
                    <h3>撤销证书</h3>
                    <div class=row>
                        <form class="form-inline"  method="POST" action="/audit/revoke">
                            <div class="form-group">
                              <label for="license-addr">证书地址</label>
                              <input type="text" name=license-addr class="form-control ml-2" id="license-addr">
                            </div>
                            <button type="submit" class="btn btn-danger ml-2">撤销</button>
                        </form>
                    </div>

                    <hr />
                    <h3>查看日志</h3>
                    <div class=row>
                        <form class="form"  method="POST" action="/audit/log">
                            <div class="form-group">
                                <label for="log-type">日志类型</label>
                                <select class="form-control" id="log-type" name=log-type>
                                  <option value="agency">安评机构</option>
                                  <option value="engineer">安评师</option>
                                </select>
                              </div>
                            <div class="form-group">
                              <label for="keyword">安评机构或安评师名称</label>
                              <input type="text" name=keyword class="form-control" id="keyword">
                            </div>
                            <button type="submit" class="btn btn-danger ml-2">查看</button>
                        </form>
                        </div>
                    <div class=row>

                        {%if log_result%}
                        <ul class="list-group">
                            {%for v in log_result%}
                            <li class="list-group-item">{{v}}</li>
                            {%endfor%}
                        </ul>
                        {%endif%}
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha256-7dA7lq5P94hkBsWdff7qobYkp9ope/L5LQy2t/ljPLo=" crossorigin="anonymous"></script>
    </body>
</html>