<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brecycle.mapper.ResourceMapper">

    <select id="selectByRoleIds" resultType="com.brecycle.entity.Resource">
        select res.*
        from resource res
        left join role_resource rr on res.id = rr.resource_id
        where rr.role_id in
        <foreach collection="roleId" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>