<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brecycle.mapper.RoleMapper">

    <select id="selectByUserId" resultType="com.brecycle.entity.Role">
        select r.*
        from role r
        left join user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}
    </select>
</mapper>